@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* *Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* *header started */

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 15px 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.1);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 2rem;
    /*position: relative;*/
}

.nav__link {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: 0.5s ease-in;
}

.nav__link:hover {
    color: crimson;
}

/* *header finished */

/* *main started */
section {
    padding: 100px 0;
}

/*? hero__section started */
.hero {
    min-height: 100vh;
    background: url("../images/bg.png") no-repeat center / cover fixed;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.hero__title span {
    font-weight: 600;
    font-size: 60px;
}

.animated-text {
    height: 70px;
    overflow: hidden;
    position: relative;
}

.animated-text h3 {
    color: crimson;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
    animation: text-movie 10s infinite;
}

.my__work-btn {
    color: #ffffff;
    background: crimson;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    margin: 25px 0;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.3s ease-in;
}

.my__work-btn:hover {
    color: #000;
    background: white;
}

/*? hero__section finished */
/* *main finished */

/* *@keyframes started */
@keyframes text-movie {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -70px;
    }

    50% {
        margin-top: -140px;
    }

    75% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0;
    }
}

/* *@keyframes finished */